* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------  css for header----------------*/
header {
  position: relative;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}
.nav {
  width: 100%;
  background-color: rgb(179, 168, 168);
  display: flex;
  align-items: center;
  height:auto;
  padding:10px;
}
.nav > .nav-header {
  flex: 0.95;

}
.nav > .nav-header > .nav-title {
  height:50px;
  content: url("../Other-pages/Assests/college_logo.png");
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.sign-in , .sign-up {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 0.7rem;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  font-weight: bold;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
.nav > #nav-check {
    display: none;
}
/*--------------  css for section & article----------------*/
.event_container_layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.event_container_layout h5 {
  color: #000;
  font-family: Adamina;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 135px;
}
.event_container {
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
}
/*-----------event banner----------*/
.event_banner {
  flex-direction: column;
  background: black;
  height: auto;
  width: auto;
  color: white;
  padding: 10px;
}
.event_banner h1 {
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.event_banner h6 {
  margin: 10px;
  width: 727.5px;
  height: 50.012px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.event_banner .getstarted {
  margin: 10px;
  display: inline-flex;
  height: 22.598px;
  padding: 18px 34px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fc5252;
}
.event_banner span {
  width: 1085.25px;
  height: 61.015px;
  flex-shrink: 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}
.event_banner {
  background-image: url("");
}

/*------ css of cards ---*/
.event_card {
  width: 316px;
  height: 324px;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 10px 10px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}
.event_card_image {
  height: 162px;
  background-color: black;
  border-radius: 10px;
  color: white;
}
.card_image img {
  object-fit: fit;
  background-repeat: none;
  color: white;
}
.card_content {
  display: flex;
  padding: 16px;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.card_content .date h4 {
  color: blue;
}
.heading {
  color: #000;
  font-family: Adamina;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.description {
  color: #6a6a6a;
  font-family: Adamina;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.description a {
  text-decoration: none;
}
/*--------------  css for footer----------------*/
footer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: black;
  padding: 10px;
}
.footer_bar {
  width: 100%;
}
.icons {
  background-color: white;
  border-radius: 12px;
  scale: 1.5;
  width: 25px;
  height: 25px;
  margin: 25px 20px;
}
.naviagtions {
  width: 100%;
}
.footer-nav {
  display: flex;
}
.footer-nav-item {
  list-style-type: none;
  margin-top: 10px;
}
.btn_container {
  width: 100%;
  height: max-content;
  padding: 10px;
}
.btn_contactus {
  display: flex;
  width: 150px;
  height: 50px;
  padding: 5px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
}

.line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-top: 15px;
}
.tnc {
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 10px 0 0 0;
}

@media (max-width: 540px) {

  .nav {
    padding: 5px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-header > .nav-title {
    height:44px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: rgb(179, 168, 168);
    height: 0;
    transition: all 0.3s ease-in;
    top: 40px;
    left: 0;
    overflow: hidden;
    padding:0px;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
    padding-left: 20px;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
  footer {
    padding: 5px;
  }
  .footer-nav-link {
    margin: 2px;
    font-size: 15px;
  }
  .btn_container {
    padding: 0;
  }
  .btn_contactus {
    margin: 0px;
    scale: 0.8;
  }
  .icons {
    scale: 1.2;
    margin: 10px;
  }
  .line {
    margin-top: 0px;
  }
  
  .event_container_layout{
    display: flex;
    flex-direction: column;
    }
    .event_container_layout h5 {
      font-size: 40px;
      
    }
    .event_container {
      display: block;
    }
    .event_banner {
      scale: 0.9;
    }
    .event_banner h1{
      font-size: 40px;
    }
    .event_banner h6{
      display: flex;
      width: 300px;
      height: auto;
    }
}
